@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

.transition (@time: .5s, @range: all, @ease: ease-out) {
  -moz-transition: @range @time @ease;
  -webkit-transition: @range @time @ease;
  -o-transition: @range @time @ease;
  transition: @range @time @ease;
}

.transition-delay (@time: .4s) {
  -webkit-transition-delay: @time;  
  -moz-transition-delay: @time;  
  -o-transition-delay: @time;  
  -transition-delay: @time; 
}

.border-radius(@radius) {
  -moz-border-radius:@radius;
  -webkit-border-radius:@radius; 
  border-radius: @radius;
}

.gradient (@coler1: #fff, @coler2: #ccc) {
    background: @coler1;
    background: -moz-linear-gradient(@coler1, @coler2);
    background: -webkit-linear-gradient(@coler1, @coler2);
    background: -o-linear-gradient(@coler1, @coler2);
}

.box-shadow(@dims:0 0 10px, @color:#000) {
  box-shadow: @dims @color; // Opera, FFX4
  -moz-box-shadow:@dims @color; // FFX3.5
  -webkit-box-shadow:@dims @color; // Safari/Chrome/WebKit
  .ie7 { filter: e(%("progid:DXImageTransform.Microsoft.Shadow(color='%d', Direction=135, Strength=3)", @color)); }
}

.inset(@dims:1px 1px 1px, @color:#fff) {
    box-shadow: @dims @color; // Opera, FFX4
    -moz-box-shadow:@dims @color; // FFX3.5
    -webkit-box-shadow:@dims @color; // Safari/Chrome/WebKit
}




.modalbg {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0);
  z-index: 99999;
  .transition(2s);
  .transition-delay(.2s);
  display: none;
  pointer-events: none;
  .dialog {
    width: 400px;
    position: relative;
    top: -1000px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    .border-radius(10px);
    .gradient;
    .box-shadow;
  }
}

.modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(4, 10 ,30, .8);
  .transition();
  .dialog {
    top: -20px;
    .transition(.8s);
    .transition-delay;
  }
}
.closed {
  font-size: 20px;
  position: absolute;
  right: 5px;
} 



.fineprint {
  font-style: italic;
  font-size: 10px;
  color: #646;
}
a { color: #333; text-decoration: none; }
.text-options .flex {
  font-size: 30px;
  display: flex;
  justify-content: center;
  border:;
}
.text-options {
  background: white;
  width: 20%;   
   display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

    top: 200px;
    padding-bottom: 35px;

    border: 4px solid red;
}

.flex img{
  width: 100px;
  height: 100px;
}
.flex span {
  font-size: 16px;
  padding-bottom: 20px;
  padding-top: 10%;
  text-align: center;
}
.flex span:nth-child(1){
  color: red;
}
.flex{
  border-width: 1px 1px 1px 1px ;
  border-color: red
}
.flex span{
  color: green
}

