/* login */
span.horizontal span.jm-login span.login {
	height: 20px;
}

span.horizontal span.jm-login span.login .username, 
span.horizontal span.jm-login span.login .password,
span.horizontal span.jm-login span.login .login-button-text,
span.horizontal span.jm-login span.login .login-button-icon,
span.horizontal span.jm-login span.logout .greeting,
span.horizontal span.jm-login span.logout .logout-button-text,
span.horizontal span.jm-login span.logout .logout-button-icon {
	padding-right: 5px;
	float: left;
}

span.horizontal span.jm-login span.login .username input, span.horizontal span.jm-login span.login .password input {
	width: 120px;
	height: 21px;
	padding: 4px 0px 0px 30px;
	border: none;
	outline: none;
	float: left;
	color: #646464;
	font-size: 75%;
}

span.horizontal span.jm-login span.login .username input {
	background: url(images/username_bg.png)/*tpa=http://obmen.tw1.ru/modules/mod_jmlogin/styles/horizontal/yellow/images/username_bg.png*/ 0 0 no-repeat;
}

span.horizontal span.jm-login span.login .password input {
	background: url(images/password_bg.png)/*tpa=http://obmen.tw1.ru/modules/mod_jmlogin/styles/horizontal/yellow/images/password_bg.png*/ 0 0 no-repeat;
}

span.horizontal span.jm-login span.login .username input:hover, span.horizontal span.jm-login span.login .username input.sfhover {
	background: url(images/username_bg.png)/*tpa=http://obmen.tw1.ru/modules/mod_jmlogin/styles/horizontal/yellow/images/username_bg.png*/ 0 -25px no-repeat;
	color: #fff;
}

span.horizontal span.jm-login span.login .password input:hover, span.horizontal span.jm-login span.login .password input.sfhover {
	background: url(images/password_bg.png)/*tpa=http://obmen.tw1.ru/modules/mod_jmlogin/styles/horizontal/yellow/images/password_bg.png*/ 0 -25px no-repeat;
	color: #fff;
}

span.horizontal span.jm-login span.login .username input:focus, span.horizontal span.jm-login span.login .username input.sffocus {
	background: url(images/username_bg.png)/*tpa=http://obmen.tw1.ru/modules/mod_jmlogin/styles/horizontal/yellow/images/username_bg.png*/ 0 -25px no-repeat;
	color: #fff;
}

span.horizontal span.jm-login span.login .password input:focus, span.horizontal span.jm-login span.login .password input.sffocus {
	background: url(images/password_bg.png)/*tpa=http://obmen.tw1.ru/modules/mod_jmlogin/styles/horizontal/yellow/images/password_bg.png*/ 0 -25px no-repeat;
	color: #fff;
}

span.horizontal span.jm-login span.login .login-button-text button {
	margin-top: -1px;
	cursor: pointer;
}

span.horizontal span.jm-login span.login .login-button-icon button {
	display: block;
	height: 20px;
	width: 80px;
	padding: 0px;
	margin-top:2px;
	border: none;
	background: url(images/login_button_bg.png.jpg)/*tpa=http://obmen.tw1.ru/modules/mod_jmlogin/styles/horizontal/yellow/images/login_button_bg.png*/ 0 0 no-repeat;
	cursor: pointer;
	overflow: hidden;
}

span.horizontal span.jm-login span.login .login-button-icon button:hover, span.horizontal span.jm-login span.login .login-button-icon button.sfhover  {
	background: url(images/login_button_bg.png.jpg)/*tpa=http://obmen.tw1.ru/modules/mod_jmlogin/styles/horizontal/yellow/images/login_button_bg.png*/ 0 -20px no-repeat;
}

span.horizontal span.jm-login span.login .lostpassword a, span.horizontal span.jm-login span.login .lostusername a, span.horizontal span.jm-login span.login .registration a {
	display: block;
	height: 20px;
	cursor: pointer;
	overflow: hidden;
}

span.horizontal span.jm-login span.login .lostpassword a  {
	margin-top:25px;
	font-size: 85%;
}

span.horizontal span.jm-login span.login .lostusername a  {
	margin-top:25px;
	font-size: 85%;
}

span.horizontal span.jm-login span.login .registration a  {
	margin-top:2px;
	font-size: 85%;
}

/* logout */
span.horizontal span.jm-login span.logout {
	height: 20px;
}

span.horizontal span.jm-login span.logout .greeting {
	line-height: 20px;
}

span.horizontal span.jm-login span.logout .logout-button-text button {
	margin-top: -1px;
	cursor: pointer;	
}

span.horizontal span.jm-login span.logout .logout-button-icon button {
	display: block;
	height: 20px;
	width: 80px;
	padding: 0px;
	border: none;
	background: url(images/logout_button_bg.png)/*tpa=http://obmen.tw1.ru/modules/mod_jmlogin/styles/horizontal/yellow/images/logout_button_bg.png*/ 0 0 no-repeat;
	cursor: pointer;
	overflow: hidden;
}

span.horizontal span.jm-login span.logout .logout-button-icon button:hover, span.horizontal span.jm-login span.logout .logout-button-icon button.sfhover  {
	background: url(images/logout_button_bg.png)/*tpa=http://obmen.tw1.ru/modules/mod_jmlogin/styles/horizontal/yellow/images/logout_button_bg.png*/ 0 -20px no-repeat;
}

